/* ESTILOS GLOBAIS
-------------------------------------------------- */
/* Padding abaixo do footer e texto mais suave no <body> */

body {
  
  color: #5a5a5a;
}



/* CUSTOMIZA O CAROUSEL
-------------------------------------------------- */

/* Classe base do carousel */
.carousel {
  margin-bottom: 4rem;
}

/* Já que usamos posicionamento de imagens, precisaremos fazer alguns ajustes na legenda */
.carousel-caption {
  bottom: 12rem;
  z-index: 10;
}

/* Declaramos alturas, devido ao posicionamento do elemento img */
.carousel-item {
  background-color: #777;
  width: 100vw;
  height: 100vh;
}
.carousel-item#first-slide {
  background-image: url('../img/halls1.png');
  background-repeat: repeat-x repeat-y;
}

.carousel-item#second-slide {
  background-image: url('../img/halls2.png');
  background-repeat: repeat-x repeat-y;
}




/* CONTEÚDO DO MARKETING
-------------------------------------------------- */

/* Alinha, centralmente, o texto dentro das três colunas abaixo do carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featrurezinhas
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Espaça o elemento <hr> mais */
}

/* Afina os cabeçalhos de marketing */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}
.atras{

  background-color: rgba(255,255 ,255);


}
.myCarousel{
  margin-top: 0px;
}

@media( min-width: 620px){

    .carousel-item#third-slide img{
      justify-content: center;
      align-items: center;
      width: 500px;
      height: 500px;
    }
  
  

}
/* CSS RESPONSIVE
-------------------------------------------------- */

@media (max-width: 620px) {
  .featurette-heading {
    margin-top: 7rem;
  }
  .carousel-item#first-slide {
    background-size: 100px;
  }

  .carousel-item#second-slide {
    background-size: 10rem;
  }

  .carousel-item#third-slide img{
    width: 100px;
    height: 100px;
  }
}

    
    @media (max-width: 400px ) {
      /* Aumenta o tamanho do conteúdo do carousel */
      .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
      }
      
      .featurette-heading {
        font-size: 50px;
      }
        .second-slide{
          width: 10rem;
        height: 10rem;
        
          background-image: url(../img/halls2.png);
          background-repeat: repeat-x repeat-y;
        
        }
        .carousel-item#third-slide img{
          width: 100px;
          height: 100px;
        }
    
        
        .carousel-inner{
          height: 500px;
          
        }
      }
       h1,p{
        background-color: rgba(119, 119, 119, 0.63) ;
        backdrop-filter: blur(10px);
        margin: 1px;
        padding: 1px;
        border: 1px;
        border-radius: 10px;
        text-align: center;
      }
      body{
          padding: 0px;
          overflow: hidden;
          background-color: rgb(119, 119, 119);
       
        }
        button{
          margin: 0px;
        }
        .btn,.btn-primary{
          margin: 0px;
        }
        #modal h1,p{
          background:none;

        }
        /* #modals{
          margin-bottom: 5rem;
        } */
        

        
